<%- include('./templates/header', {title: 'index' }); %>
    <main>
        <div class="mt-4 p-3 bg-primary text-white rounded">
            <h3>Home for returning user
            </h3>
        </div>
        <div style="margin-top: 40px;"></div>
        <div>
            <a href="/members"><button type="membersArea" value="MembersArea" class="btn btn-primary">Go to Members
                    Area</button></a>
            <br>
            <br>
            <a href="/logout"><button type="logout" value="Logout" class="btn btn-primary">Log out</button></a>
        </div>
    </main>
    </body>
    <%- include('./templates/footer'); %>

        </html>