<%- include('./templates/header', {title: 'index' }); %>
    <main>
        <div class="mt-4 p-3 bg-primary text-white rounded">
            <h3>Home for new user
            </h3>
        </div>
        <div style="margin-top: 40px;"></div>
        <div>
            <a href="/signup">Signup</a>
            <br>
            <a href="/login">Login</a>
        </div>
    </main>
    </body>
    <%- include('./templates/footer'); %>

        </html>